body {
  background-color: white !important;
}
.title {
  color: var(--gray-dark);
}

.list-group-item-action:hover .link-title {
  color: #4285f4 !important;
}

.link-title {
  color: black !important;
  transition: all 300ms;
}
